.Table {
  position: relative;
}

.Table h2 {
  margin: 25px 0 15px 0;
}

.Table .select-date {
  color: rgb(61, 136, 221);
  font-size: 0.8rem;
  border: none;
  background: transparent;
}

.Table .show-all {
  margin-left: 12px;
  font-size: 0.8rem;
  border: 1px solid #c2bdbd ;
  padding: 6px;
  width: 130px;
}

.Table input {
  width: 350px;
  font-size: 0.6rem;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid #c2bdbd;
  background: transparent;
}

