.App {
  background: #fcfafa;
  /* font-size: 0.6rem; */
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* .App div {
  display: flex;
  flex: 1;
}

.App div:nth-child(2) {
  flex: 5;
} */

.App .BodyContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.main {
  padding: 1rem 4rem 4rem 2rem;
}