.App {
  background: #fcfafa;
}

/* .App div {
  display: flex;
  flex: 1;
}

.App div:nth-child(2) {
  flex: 5;
} */

.App .BodyContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.main {
  padding: 1rem 4rem 4rem 2rem;
}