.MainFirstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.MainFirstRow .left,
.MainFirstRow .right {
  display: flex;
}

.MainFirstRow .left {
  margin-right: 30px;
}

.MainFirstRow .dailyvol,
.MainFirstRow .dailyval,
.MainFirstRow .totalvol,
.MainFirstRow .totalval {
  display: flex;
  padding: 15px;
  background: #fff;
}

.MainFirstRow .dailyvol {
  margin-right: 10px;
}

.MainFirstRow .totalvol {
  margin-right: 10px;
}

.MainFirstRow .dailytransvol,
.MainFirstRow .dailytransval,
.MainFirstRow .totaltransvol,
.MainFirstRow .totaltransval {
  margin-right: 15px;
}


