.MainSecondRow {
  display: flex;
  height: 263px;
}

.MainSecondRow .leftbar {
  flex: 2;
  margin-right: 5px;
  background: #fff;
}

.MainSecondRow .rightbar {
  flex: 1;
  font-size: 0.7rem;
}

.MainSecondRow .rightbar .topandbottom {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 5px;
}

.MainSecondRow .rightbar .topandbottom .top,
.MainSecondRow .rightbar .topandbottom .bottom {
  padding: 1rem;
  background: #fff;
}

.MainSecondRow p {
  margin: 8px 0;
}

.MainSecondRow .leftbar {
  position: relative;
}

.MainSecondRow i.fas {
  font-size: 0.7rem;
  color: #b3acac;
  border: 1px solid #b3acac;
  padding: 5px 12px;
  border-radius: 5px;
}

.MainSecondRow .select-date {
  font-size: 0.7rem;
  color: #888282;
  border: 1px solid #b3acac;
  padding: 6px;
  border-radius: 5px;
  width: 130px;
}

.MainSecondRow .Daterow {
  padding: 22px;
  display: flex;
  align-items: center;
}

.MainSecondRow h3 {
  flex: 5;
}

.MainSecondRow .custom-select {
  justify-self: flex-end;
  flex: 2;
}

.MainSecondRow .biggraph {
  position: relative;
  margin-top: 12px;
  height: 179px;
  background: url('../../images/BodySecondLayer/SecondLayerLeft/biggrapgh.png') no-repeat center bottom/cover;
}

.MainSecondRow .biggraph span {
  font-weight: bold;
  font-size: 0.8rem;
}



