.SideBar {
  position: relative;
  font-size: 0.6rem;
  background: #fff;
  color: #868484;
  height: 100%;
}

.SideBar button {
  font-size: 0.6rem;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background: rgb(15, 184, 71);
  cursor: pointer;
  transition: all 2s ease-out;
}

.SideBar button:hover {
  background: #065e23;
}

.SideBar div,
.SideBar p {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.SideBar img {
  margin-right: 10px;
  width: 15px;
  height: 13px;
}

.SideBar h3 {
  margin: 1.5rem 0 0.8rem 0;
  font-weight: normal;
}

.SideBar p {
  margin-top: 1.5rem;
}

.SideBar .overview,
.SideBar h3,
.SideBar p,
.SideBar .overview,
.SideBar .allpayments,
.SideBar .reconciledpayments,
.SideBar .unreconciledpay,
.SideBar .manualsettle,
.SideBar .allorders,
.SideBar .pendingorders,
.SideBar .reconciledorders {
  padding: 0 1.5rem;
}

.SideBar button {
  margin: 0 1.5rem;
  margin-top: 20px;
}
